<div class="container">
  <div class="row">
    <div class="col-md-12">
    	<div class="jumbotron">
  	  <h1>MTodoExample</h1>
  	  <p>This is a simple coffee skeleton for <a href="http://brunch.io/" target="_blank">Brunch</a> which utilizes <a href="http://marionettejs.com/" target="_blank">MarionetteJS</a>. 
  	  <br>It uses <a href="http://coffeescript.org/" target="_blank">CoffeeScript</a>, <a href="http://learnboost.github.com/stylus/" target="_blank">Stylus</a> and <a href="http://handlebarsjs.com/" target="_blank">Handlebars</a>.</small></p>
  	  <p><small>Extended by <a href="http://github.com/Naxmeify">MRW Neundorf</a> with a <a href="#todos">todo example</a></small></p>
  	</div>
    </div>
  </div>
</div>


