
<td><input class="toggle" type="checkbox" {{#if completed}}checked{{/if}}></td>
<td class="title">{{ title }}</td>
<td><button class="destroy btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button></td>
